{% extends "base.html" %}

{% block title %}Detalle Usuario - Proyecto Musical{% endblock %}

{% block content %}
<div class="card detail-card">
  <h1 class="page-title">Detalle de Usuario</h1>

  {% if user.image_url %}
    <img src="{{ user.image_url }}" alt="Foto de {{ user.username }}" class="cover-img-lg">
    <br><br>
  {% endif %}

  <p><strong>ID:</strong> {{ user.id }}</p>
  <p><strong>Username:</strong> {{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>

  <h2>Artistas Favoritos</h2>
  <ul>
    {% for artist in user.favorite_artists %}
    <li><a href="/artists/{{ artist.id }}">{{ artist.name }}</a></li>
    {% endfor %}
  </ul>
</div>

<br>
<a href="/users" class="button">Volver a la lista</a>
{% endblock %}
