{% extends "base.html" %}

{% block title %}Crear Artista - Proyecto Musical{% endblock %}

{% block content %}
<h1 class="page-title">Crear Nuevo Artista</h1>

<form action="/artists/create" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" id="name" name="name" required>
  </div>

  <div class="form-group">
    <label for="genre">Género</label>
    <input type="text" id="genre" name="genre" required>
  </div>

  <div class="form-group">
    <label for="file">Foto del Artista</label>
    <input type="file" id="file" name="file">
  </div>

  <button type="submit">Crear Artista</button>
</form>

<a href="/artists/" class="button">Volver a la lista de artistas</a>
{% endblock %}
