<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}Proyecto Musical{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" href="/static/images/logo.jpg">
</head>

<body>
  <nav>
    <div class="logo-container">
      <img src="/static/images/logo.jpg" alt="Spotlist Logo" class="navbar-logo">
      <span class="logo-text">Spotlist</span>
    </div>
    <div class="nav-links">
      <a href="/">Inicio</a>
      <a href="/users/">Usuarios</a>
      <a href="/artists/">Artistas</a>
      <a href="/albums/">Álbumes</a>
      <a href="/songs/">Canciones</a>
    </div>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <div class="footer-content">
      <p>Desarrollado con ❤️ por <a href="https://github.com/DanielGomezC04" target="_blank">Daniel Felipe Gomez
          Cordoba</a></p>
      <p>&copy; 2025 Spotlist. Todos los derechos reservados.</p>
    </div>
  </footer>
</body>

</html>