<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Proyecto Musical{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Inicio</a>
      <a href="/users/">Usuarios</a>
      <a href="/artists/">Artistas</a>
      <a href="/albums/">Álbumes</a>
      <a href="/songs/">Canciones</a>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
